# =====================
# Videos
# =====================
video-store/
*.mp4
*.webm
*.mov
*.avi

# =====================
# Build files (Spring Boot / Maven)
# =====================
target/
*.log

# =====================
# GIS data
# =====================
*.tif
*.tiff

# =====================
# Node (if used later)
# =====================
node_modules/

# =====================
# STS (Spring Tool Suite)
# =====================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =====================
# IntelliJ IDEA
# =====================
.idea
*.iws
*.iml
*.ipr

# =====================
# NetBeans
# =====================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db